html, body{
    
    --primary-color: #40B0DF;
    --primary-color-dark: #01416f;
    --accent-color: #FFD53D;
    --color-error: #cc3333;
    --color-success: #75E6DA;
}
/*WEBSITE*/
.header__wrap{
    background: var(--primary-color);
}
/*LOGIN*/
.container{
    background: #fff;
}
.container .header{
    background: var(--primary-color);
}
.mainMenu ul li ul {
    background: var(--primary-color-dark);
}
.mainMenu ul li ul li:hover {
    background: var(--accent-color);
    color: #fff !important;
}

/*CHATBOT*/
::selection{
    background: var(--primary-color);
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}