@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    overflow: hidden;
    height: 100%;
    --border-radius: 4px;
    
}

/*WEBSITE*/
.header__wrap .header{
    display: block;
    width: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 5px 0;
    height: 45px;
    display: table;
    width: 100%;
}
.header__wrap .logo{
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    padding: 20px 10px 20px 0;
}
.header__wrap .menuWrap {
        display: table-cell;
        vertical-align: middle;
        margin: 0 12px;
        position: relative;
        z-index: 25;
}

.header__wrap .mainMenu ul li:after {
    content: "/";
    color: var(--primary-color-dark);
}
.header__wrap .mainMenu ul li{
    font-size: 10pt;
}
.header__wrap .mainMenu ul li:last-child:after {
    content: "";
}
.header .mainMenu ul li a, .header__wrap .mainMenu ul li { 
    line-height: 41pt;
}
.header__wrap .mainMenu ul li a {
    padding: 0 27px;
    color: var(--primary-color-dark);
    font-weight: 600;
    font-size: 14pt;
}

.header__wrap .mainMenu ul li li a {
    padding: 0 10px;
    color: #fff;
}

.header__wrap .mainMenu ul li:hover > a {
    color: #fff;
}

.header__wrap .mainMenu ul li ul li a, .header__wrap .mainMenu ul li ul li {
    line-height: 15pt;
    font-size: 10pt;
}

.menuWrap{
    position: relative; z-index: 25;
}
.mainMenu ul li a, .mainMenu ul li {
    float: left;
    padding: 20px 0;
}
.mainMenu ul li {
    position: relative;
}
.mainMenu ul li a {
    padding: 8px 12px;
}
.mainMenu ul li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    z-index: 199 !important;
    padding-top: 5px;
    padding-bottom: 5px; }
.mainMenu ul li ul:last-child {
    padding-bottom: 5px;
}
.mainMenu ul li ul li {
    padding: 5px 10px;
    width: 300px;
    height: 25x;
    line-height: 25px;
    border: none;
}
.mainMenu ul li ul li:first-child {
    border: none;
}
.mainMenu ul li ul li:after { clear: both; content: " "; display: block; height: 0; visibility: hidden; }
.mainMenu ul li:hover > ul {
    display: block;
    transition: 1s;
}
.mainMenu ul li ul li, .mainMenu ul li ul li a {
    float: none;
    color: #ffffff;
}
.mainMenu ul li ul li a {
    display: block; padding: 0 10px;
}
/* Subsub Menu */
.mainMenu ul li ul li ul {
    display: none;
    background: #000;
    padding-top: 5px;
    padding-bottom: 5px; }
.mainMenu ul li ul li:hover ul { left: 100%; top: 0; }
.mainMenu ul li ul li ul li { padding: 5px 20px }

    
/*LOGIN*/
#login, .chatBot{
    float: right;
    position: absolute;
    right: 3%;
    bottom: 4%;
}

#login .btn__icon{
    position: relative;
    left: 90%;
    float: inherit;
}

input[type="checkbox"]{
   display: none; 
}


#show__loginForm:checked ~ .container{
    display: block;
}



.btn__icon, .minimize__btn:hover{
    cursor: pointer;
}

.container{
    display: none;
    width: 350px;
    max-width: 400px;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: var(--border-radius);
}

.container .header{
    color: #fff;
    padding-left: 10px;
    line-height: 60px;
    border-bottom: 1px solid #3da8d6;
    border-radius: 5px 5px 0 0;
    
}
.form__hidden{
    display: none;
}
.introduction, .form__input-group, .form__text{
    margin: 1rem;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
    
}

.form__message__error{
    color:var(--color-error);
}
.form__message__success{
    color:var(--color-success);
}


/*CHATBOT*/

#show__chatBot:checked ~ .wrapper{
    visibility: hidden;
}

::selection{
    color: #fff;
}

::-webkit-scrollbar{
    width: 3px;
    border-radius: 25px;
}



.chatBot .wrapper{
    width: 350px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-top: 0px;
}
.chatBot .wrapper .title{
    background: var(--primary-color);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    padding-left: 10px;
    border-bottom: 1px solid #3da8d6;
    border-radius: 5px 5px 0 0;
}

.chatBot .wrapper .form{
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.chatBot .wrapper .form .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}

.chatBot .wrapper .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}

.chatBot .wrapper .form .inbox .icon{
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: var(--primary-color);
}

.chatBot .wrapper .form .inbox .msg-header{
    max-width: 58%;
    margin-left: 10px;
}

.form .inbox .msg-header p{
    color: #fff;
    background: var(--primary-color);
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 12px;
    word-break: break-all;
}

.form .user-inbox .msg-header p{
    color: #333;
    background: #efefef;
}

.chatBot .wrapper .typing-field{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: #efefef;
    border-top: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
}

.chatBot .wrapper .typing-field .input-data{
    height: 40px;
    width: 335px;
    position: relative;
}

.chatBot .wrapper .typing-field .input-data input{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 12px;
    background: #fff;
    transition: all 0.3s ease;
}

.typing-field .input-data input:focus{
    border-color: rgba(0,123,255,0.8);
}

.input-data input::placeholder{
    color: #999999;
    transition: all 0.3s ease;
}

.input-data input:focus::placeholder{
    color: #bfbfbf;
}

.chatBot .wrapper .typing-field .input-data button{
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    background: var(--primary-color);
    border: 1px solid #007bff;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.chatBot .wrapper .typing-field .input-data input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}

.wrapper .typing-field .input-data button:hover{
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/*minimize button*/
#login .container .header .minimize__btn{
    float: right;
    padding-right: 10px;
    cursor: pointer;
}

/*MEDIA SCREEN*/
@media (max-width: 1210px) {
    /*  Header  */
    .header__wrap .header {
        width: 96%;
    }
    /*  Menu  */
    .header__wrap .mainMenu ul li a {
        padding: 0 8px;
        font-size: 9pt;
    }
    /*  Search  */
    .headerFour .search {
        display: none;
    }
    }